<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torque Fitness</title>
    <link rel="stylesheet" href="../static/css/member.css" />
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-md fixed-top navbar-dark nav-1" id="navbar">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/" style="text-decoration: none;"><h2 class="logo"><span>TORQUE</span>FITNESS</h2></a>
        <!-- <div id="icon">
          <i class="fas fa-bars"></i>
        </div> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav navbar-expand-md ml-auto nav-2">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/#feature">Features</a>
            </li>
    
            <li class="nav-item ">
              <a class="nav-link" href="/#contact">ContactUs</a>
            </li>
            <li class="nav-item">
              <div class="drop">
                <a class="nav-link" href="#">Programs</a>
                <div class="dropdown-content">
                  <a href="personalTraining.pug">Personal Training</a>
                  <a href="./member.pug">Membership</a>
                  <!-- <a href="#">Link 3</a> -->
                </div>
              </div>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="./trainers.pug">Trainer</a>
            </li>
          
          </ul>
        </div>
      </nav>
    </header>
    <!-- header ends -->


    <!-- login form -->



    <div class="text-center" id="login">
      <div class="container w-25 py-3 bord">
        <div class="title pb-3">
          <h2 class="font-weight-bold">LOGIN</h2>
          <span style="font-style:italic;color: green;">For existing members</span>
        </div>
        <form action="./member.pug" method="post" class="needs-validation">
          <div class="form-group" style="width: 85%;">
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
          </div>
          <div class="form-group" style="width: 85%;">
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" minlength="8" required>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <span>New Member ? <a href="/register.pug" style="text-decoration: none; color:green;">Register Here</a></span>
      </div>
    </div>

    



















    <!-- footer starts -->

    <footer class="page-footer font-small bg-dark text-white">
      <div class="bg-color pt-4">
          <div class="container">
              <div class="row margintop80">
                  <div class="col-sm-4">
                    |  TORQUE FITNESS was started on World Health Day on 7 th April 2022.
                    |  TORQUE FITNESS offers the most exciting and up-to-date curriculum as well as ongoing training in all aspects of the fitness industry.
                    |  TORQUE FITNESS is the only Advanced Personal Trainer program, which offers you low-cost tuition, fast test results and complete career development.
                  </div>
                  <div class="col-sm-4">
                      <h4 style="color: rgba(231, 209, 7, 0.922);">OUR SITEMAP</h4>
                      <p style="color:red;font-weight:900">____________</p>
                      <div class="row">
                          <div class="col-sm-6">
                              <a href="/" style="color:white;">> HOME</a><br>
                              <a href="./member.pug" style="color:white">> Membership</a><br>
                              <a href="/#contact" style="color:white">> Constact-Us</a><br>
                          </div>
                          <div class="col-sm-6">
                            <a href="/#about" style="color:white">> About us</a><br>
                            <a href="./member.pug" style="color:white">> Members</a><br>
                            <a href="./admin_login.pug" style="color:white">> Admin Panel</a><br>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <h4 style="color: rgba(231, 209, 7, 0.922);">NEWSLETTER</h4>
                      <p style="color:red;font-weight:900">____________</p>
                      <br>
                      <p>Sign Up for Our Newsletter to Get Latest Updates & Services</p>
                      <br>
                      <form action="">
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Search">
                              <!-- <div class="input-group-append"> -->
                              <button class="btn btn-danger text-white" type="submit" style="background-color: red;">➩</button>
                              <!-- </div> -->
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="footer-copyright text-center py-3">© 2022 <span style="color: red;"> TORQUE</span>FITNESS. |All Copyrights Reserverd. | Developed By <span style="color:rgb(255, 217, 0)">GUNJAN KUMAR</span>
          </div>
      </div>


      <!-- Copyright -->

      <!-- Copyright -->

    </footer>


    <!-- chat bot section -->

    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">
      <button id="chat-button" type="button" class="collapsible">Chat with us!
          <i id="chat-icon" style="color: rgb(239, 3, 3);" class="fa fa-fw fa-comments-o"></i>
      </button>

      <div class="content">
          <div class="full-chat-block">
              <!-- Message Container -->
              <div class="outer-container">
                  <div class="chat-container">
                      <!-- Messages -->
                      <div id="chatbox">
                          <h5 id="chat-timestamp" style="color: red;"></h5>
                          <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                      </div>

                      <!-- User input box -->
                      <div class="chat-bar-input-block">
                          <div id="userInput">
                              <input id="textInput" class="input-box" type="text" name="msg"
                                |  placeholder="Tap 'Enter' to send a message">
                              <p></p>
                          </div>

                          <div class="chat-bar-icons">
                              <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                  | onclick="heartButton()"></i>
                              <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                |  onclick="sendButton()"></i>
                          </div>
                      </div>

                      <div id="chat-bar-bottom">
                          <p></p>
                      </div>

                  </div>
              </div>

          </div>
      </div>

    </div>

    <!-- chat bot section ends -->














































    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/scripts/chat.js"></script>
    <script src="../static/scripts/responses.js"></script>
  </body>
</html>
